.header {
  background-color: #131921 !important;
}

.searchContiner {
  width: 900px;
  max-width: 100%;
}

.headerListOptions {
  background-color: #232f3e;
  padding: 0 24px;
  color: #ffffff;
  min-height: 48px;
}
.buttonsPadding {
  padding: 0 24px !important;
}
