.card {
  background: #121212;
  color: #fff;
  padding: 0 20px;
  width: auto;
  position: relative;
  height: 100%;
  grid-column: span 2;
  /* margin-top: 20px; */
  overflow-y: hidden;
  cursor: pointer;
}

.title {
  margin: 20px 0px 10px 0px;
}

.imageContent {
  max-height: 280px;
  position: relative;
  height: 100%;
}
.footer a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  color: #007185;
  font-size: 13.5px;
}
.footer a:hover {
  text-decoration: underline;
  color: #C7511F;
}
