.slider {
  position: relative;
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0s;
  z-index: 1;
  clip-path: circle(0px at center);
}

.radio:checked + .imgBox {
  z-index: 10;
  clip-path: circle(1000px at center);
  transition-delay: 0.7s;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgContainer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.1), #131921 );
    z-index: 1001;
  }


.content {
  position: relative;
  text-align: center;
  max-width: 800px;
  z-index: 1002;

}

.content h2 {
  font-size: 4em;
  line-height: 1em;
  color: #ffffff;
}

.content p {
  font-size: 1.1em;
  color: #ffffff;
}

.content a {
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 10px 30px;
  color: #111;
  font-weight: 500;
  text-decoration: none;
}

.radio {
  position: relative;
  z-index: 1000;
  margin: 5px;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .imgBox {
    padding: 40px;
  }
  .content h2 {
    font-size: 3em;
  }
  .content p {
    font-size: 1em;
    margin-top: 10px;
  }
}
