.container{
  padding: 8px 16px;
  /* background: #131921; */
  position: relative;
}

.gallery{
  display: grid;
  gap: 1em;
  grid-auto-flow: dense;
  grid-auto-rows: 25rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));
  margin-top: 50px;
}

